USE [master]
GO
/****** Object:  Database [QLBANNUOC]    Script Date: 8/5/2024 4:11:00 PM ******/
CREATE DATABASE [QLBANNUOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBANNUOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBANNUOC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBANNUOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBANNUOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBANNUOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBANNUOC]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_DONGIASP]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[AUTO_DONGIASP]()
RETURNS DECIMAL (12,2)
AS BEGIN
	DECLARE @GIATIEN DECIMAL(12,2)
	SELECT @GIATIEN = GIATIEN FROM SANPHAM WHERE MASP IN (
		SELECT MASP FROM HOADONCHITIET
		)
	RETURN @GIATIEN
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHD]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Mặc định kiểu dữ liệu cho mã hóa đơn --
CREATE   FUNCTION [dbo].[AUTO_IDHD]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAHD) FROM HOADON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHD, 3)) FROM HOADON
		SELECT @ID = CASE
			WHEN @ID >=0 and @ID < 9 THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9 AND @ID < 99 THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID > 99 THEN 'HD' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHDNHAP]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Mặc định kiểu dữ liệu cho mã hóa đơn Nhập hàng --
CREATE   FUNCTION [dbo].[AUTO_IDHDNHAP]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(SoHDN) FROM HDNhap) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(SOHDN, 3)) FROM HDNHAP
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HN00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HN0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 3)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNL]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Mặc định kiểu dữ liệu cho MÃ NGUYEN LIEU --
CREATE   FUNCTION [dbo].[AUTO_IDNL]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANL) FROM NGUYENLIEU) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANL, 3)) FROM NGUYENLIEU
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NL00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NL0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Mặc định kiểu dữ liệu cho MÃ NHÂN VIÊN --
CREATE   FUNCTION [dbo].[AUTO_IDNV]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANV) FROM NHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANV, 3)) FROM NHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDSP]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Mặc định kiểu dữ liệu cho MÃ SẢN PHẨM --
CREATE   FUNCTION [dbo].[AUTO_IDSP]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MASP) FROM SANPHAM) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MASP, 3)) FROM SANPHAM 
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'SP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'SP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[SP_SUMGIAVONSP]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[SP_SUMGIAVONSP] (@MASP VARCHAR(5))
RETURNS FLOAT
AS BEGIN
		DECLARE @SUM  FLOAT;
		SELECT @SUM = GIAVON
		FROM CHITIETSANPHAM
		WHERE MASP = @MASP
	RETURN @SUM;
END
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](5) NOT NULL,
	[MaKH] [char](5) NULL,
	[MaNV] [char](5) NULL,
	[NgayMua] [datetime] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[GIAMGIA] [float] NULL,
	[TRIGIA] [float] NOT NULL,
	[trangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[MaHD] [char](5) NOT NULL,
	[MaSP] [char](5) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GIATIEN] [float] NOT NULL,
	[KHUYENMAI] [float] NULL,
	[ThanhTien] [decimal](12, 2) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DOANHTHU]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[V_DOANHTHU]
AS 
	SELECT DISTINCT MONTH(NGAYMUA) THANG, GIAVON = SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP) ,
			SUM(THANHTIEN) DOANHTHU,SUM(THANHTIEN)-(SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP)) TIENLOI
	FROM HOADONCHITIET HDCT INNER JOIN HOADON HD ON HDCT.MaHD = HD.MAHD
	GROUP BY MONTH(NgayMua),MASP
GO
/****** Object:  View [dbo].[V_DOANHTHUTHANG]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[V_DOANHTHUTHANG]
AS 
	SELECT DISTINCT MONTH(NGAYMUA) THANG, GIAVON = SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP) ,
			SUM(THANHTIEN) DOANHTHU,SUM(THANHTIEN)-(SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP)) TIENLOI
	FROM HOADONCHITIET HDCT INNER JOIN HOADON HD ON HDCT.MaHD = HD.MAHD
	GROUP BY MONTH(NgayMua),MASP
GO
/****** Object:  View [dbo].[V_DOANHTHUNGAY]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[V_DOANHTHUNGAY]
AS 
	SELECT DISTINCT CONVERT(DATE,NGAYMUA) NGAY, GIAVON = SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP) ,
			SUM(THANHTIEN) DOANHTHU,SUM(THANHTIEN)-(SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP)) TIENLOI
	FROM HOADONCHITIET HDCT INNER JOIN HOADON HD ON HDCT.MaHD = HD.MAHD
	GROUP BY CONVERT(DATE,NGAYMUA),MASP
GO
/****** Object:  View [dbo].[V_DOANHTHUNAM]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[V_DOANHTHUNAM]
AS 
	SELECT DISTINCT YEAR(NGAYMUA) NAM, GIAVON = SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP) ,
			SUM(THANHTIEN) DOANHTHU,SUM(THANHTIEN)-(SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP)) TIENLOI
	FROM HOADONCHITIET HDCT INNER JOIN HOADON HD ON HDCT.MaHD = HD.MAHD
	GROUP BY YEAR(NGAYMUA),MASP
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MASP] [char](5) NOT NULL,
	[MANL] [char](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIAVON] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](5) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHDNhap]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDNhap](
	[SoHDN] [varchar](5) NOT NULL,
	[MaNL] [char](5) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDNhap]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDNhap](
	[SoHDN] [varchar](5) NOT NULL,
	[MaNV] [char](5) NULL,
	[NgayNH] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](5) NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MaNL] [char](5) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[GIATIEN] [decimal](12, 2) NOT NULL,
	[tonkho] [int] NOT NULL,
	[DONVI] [nvarchar](50) NOT NULL,
	[ToiThieu] [int] NOT NULL,
	[Hinh] [nvarchar](50) NOT NULL,
	[minGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[MaCV] [varchar](5) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Hinh] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [char](5) NOT NULL,
	[LoaiSP] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[GiaTien] [float] NOT NULL,
	[Hinh] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETSANPHAM] ([MASP], [MANL], [SOLUONG], [GIAVON]) VALUES (N'SP001', N'NL001', 20, 13500)
INSERT [dbo].[CHITIETSANPHAM] ([MASP], [MANL], [SOLUONG], [GIAVON]) VALUES (N'SP001', N'NL003', 20, 13500)
INSERT [dbo].[CHITIETSANPHAM] ([MASP], [MANL], [SOLUONG], [GIAVON]) VALUES (N'SP001', N'NL004', 5, 13500)
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV01', N'Quản Lý')
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV02', N'Nhân Viên')
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV03', N'Quản Kho')
GO
INSERT [dbo].[HDNhap] ([SoHDN], [MaNV], [NgayNH]) VALUES (N'HN001', N'NV003', CAST(N'2024-07-25' AS Date))
INSERT [dbo].[HDNhap] ([SoHDN], [MaNV], [NgayNH]) VALUES (N'HN002', N'NV003', CAST(N'2024-07-24' AS Date))
INSERT [dbo].[HDNhap] ([SoHDN], [MaNV], [NgayNH]) VALUES (N'HN003', N'NV003', CAST(N'2024-07-23' AS Date))
GO
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayMua], [TONGTIEN], [GIAMGIA], [TRIGIA], [trangThai]) VALUES (N'HD001', NULL, N'NV002', CAST(N'2024-07-23T21:24:20.857' AS DateTime), 30000, 0, 30000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayMua], [TONGTIEN], [GIAMGIA], [TRIGIA], [trangThai]) VALUES (N'HD002', N'KH001', N'NV002', CAST(N'2024-07-24T00:23:57.553' AS DateTime), 90000, 0, 90000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayMua], [TONGTIEN], [GIAMGIA], [TRIGIA], [trangThai]) VALUES (N'HD003', N'KH002', N'NV002', CAST(N'2024-07-24T00:35:33.440' AS DateTime), 100000, 0, 100000, N'Đã thanh toán')
GO
INSERT [dbo].[HOADONCHITIET] ([MaHD], [MaSP], [SoLuong], [GIATIEN], [KHUYENMAI], [ThanhTien], [GhiChu]) VALUES (N'HD001', N'SP006', 1, 30000, 0, CAST(30000.00 AS Decimal(12, 2)), N'Cà Phê Grass Jerry')
INSERT [dbo].[HOADONCHITIET] ([MaHD], [MaSP], [SoLuong], [GIATIEN], [KHUYENMAI], [ThanhTien], [GhiChu]) VALUES (N'HD002', N'SP003', 1, 30000, 0, CAST(30000.00 AS Decimal(12, 2)), N'Cà Phê Sữa Tươi')
INSERT [dbo].[HOADONCHITIET] ([MaHD], [MaSP], [SoLuong], [GIATIEN], [KHUYENMAI], [ThanhTien], [GhiChu]) VALUES (N'HD002', N'SP005', 1, 30000, 0, CAST(30000.00 AS Decimal(12, 2)), N'Cà Phê Muối')
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoVaTen], [SDT]) VALUES (N'KH001', N'Đỗ Quang Sơn', N'0339129745')
INSERT [dbo].[KhachHang] ([MaKH], [HoVaTen], [SDT]) VALUES (N'KH002', N'Lê Văn Huy', N'0334443334')
INSERT [dbo].[KhachHang] ([MaKH], [HoVaTen], [SDT]) VALUES (N'KH003', N'Lê Văn Tuấn', N'0334444444')
GO
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [GIATIEN], [tonkho], [DONVI], [ToiThieu], [Hinh], [minGia]) VALUES (N'NL001', N'Cà Phê Robusta', CAST(4000000.00 AS Decimal(12, 2)), 552, N'gam', 120, N'robusta_coffee.jpg', 200)
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [GIATIEN], [tonkho], [DONVI], [ToiThieu], [Hinh], [minGia]) VALUES (N'NL002', N'Cà Phê Arabica', CAST(600000.00 AS Decimal(12, 2)), 145, N'gam', 100, N'arabica_coffee.jpg', 120)
INSERT [dbo].[NGUYENLIEU] ([MaNL], [TenNL], [GIATIEN], [tonkho], [DONVI], [ToiThieu], [Hinh], [minGia]) VALUES (N'NL003', N'Sữa Đặc', CAST(2000000.00 AS Decimal(12, 2)), 110, N'gam', 100, N'condensed_milk.jpg', 400)
GO
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [HoVaTen], [MaCV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [Hinh]) VALUES (N'NV001', N'admin', N'Hoàng Linh', N'CV01', CAST(N'1985-03-15' AS Date), 1, N'123 Đường ABC, Quận 1, TP.HCM', N'0901234567', N'a.nguyen@company.com', N'linh.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [HoVaTen], [MaCV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [Hinh]) VALUES (N'NV002', N'nvbanhang', N'Nguyễn Phương Chi', N'CV02', CAST(N'1990-08-20' AS Date), 0, N'456 Đường XYZ, Quận 2, TP.HCM', N'0912345678', N'b.tran@company.com', N'Pchi.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [HoVaTen], [MaCV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [Hinh]) VALUES (N'NV003', N'nvquankho', N'Phan Thành Tín', N'CV02', CAST(N'1982-12-01' AS Date), 1, N'789 Đường LMN, Quận 3, TP.HCM', N'0923456789', N'c.le@company.com', N'tin.jpg')
GO
INSERT [dbo].[SanPham] ([MaSP], [LoaiSP], [TenSanPham], [GiaTien], [Hinh]) VALUES (N'SP001', N'Cà Phê', N'Cà Phê Đen', 20000, N'cafe-den.jpg')
INSERT [dbo].[SanPham] ([MaSP], [LoaiSP], [TenSanPham], [GiaTien], [Hinh]) VALUES (N'SP002', N'Trà Sữa', N'Cà Phê Sữa', 20000, N'cafe-sua.jpg')
INSERT [dbo].[SanPham] ([MaSP], [LoaiSP], [TenSanPham], [GiaTien], [Hinh]) VALUES (N'SP003', N'Trà Sữa', N'Cà Phê Sữa Tươi', 25000, N'cafe-suaTuoi.jpg')
GO
ALTER TABLE [dbo].[HDNhap] ADD  CONSTRAINT [IDHN]  DEFAULT ([DBO].[AUTO_IDHDNHAP]()) FOR [SoHDN]
GO
ALTER TABLE [dbo].[HDNhap] ADD  DEFAULT (getdate()) FOR [NgayNH]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [IDHD]  DEFAULT ([DBO].[AUTO_IDHD]()) FOR [MaHD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[HOADONCHITIET] ADD  DEFAULT ([DBO].[AUTO_DONGIASP]()) FOR [GIATIEN]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_IDKH]()) FOR [MaKH]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [IDNL]  DEFAULT ([DBO].[AUTO_IDNL]()) FOR [MaNL]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [IDNV]  DEFAULT ([DBO].[AUTO_IDNV]()) FOR [MaNV]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [IDSP]  DEFAULT ([DBO].[AUTO_IDSP]()) FOR [MaSP]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTHDNhap]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CTHDNhap]  WITH CHECK ADD FOREIGN KEY([SoHDN])
REFERENCES [dbo].[HDNhap] ([SoHDN])
GO
ALTER TABLE [dbo].[HDNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHUTHEONAM]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_DOANHTHUTHEONAM]
AS BEGIN
	SELECT NAM ,sum(giavon) GIAVON, sum(doanhthu) DOANHTHU,sum(tienloi) TIENLOI, sum(doanhthu)-sum(giavon) TIENLO
	FROM V_DOANHTHUNAM
	group by NAM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHUTHEONGAY]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_DOANHTHUTHEONGAY]
AS BEGIN
	SELECT NGAY ,sum(giavon) GIAVON, sum(doanhthu) DOANHTHU,sum(tienloi) TIENLOI, sum(doanhthu)-sum(giavon) TIENLO
	FROM V_DOANHTHUNGAY
	group by NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHUTHEOTHANG]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_DOANHTHUTHEOTHANG]
AS BEGIN
	SELECT N'Tháng '+convert(varchar(2),thang) THANG,sum(giavon) GIAVON, sum(doanhthu) DOANHTHU,sum(tienloi) TIENLOI, sum(doanhthu)-sum(giavon) TIENLO
	FROM V_DOANHTHUTHANG
	group by THANG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHUTHEOTUAN]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_DOANHTHUTHEOTUAN] 
AS BEGIN
	SELECT DISTINCT MASP, GIAVON = SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP) ,
			SUM(THANHTIEN) DOANHTHU,SUM(THANHTIEN)-(SUM(SOLUONG)* DBO.SP_SUMGIAVONSP(MASP)) TIENLOI
	FROM HOADONCHITIET HDCT INNER JOIN HOADON HD ON HDCT.MaHD = HD.MAHD
	WHERE NGAYMUA BETWEEN DATEADD(DAY,-7,GETDATE()) AND GETDATE()
	GROUP BY MASP 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NHANVIENTIEUBIEU]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_NHANVIENTIEUBIEU] 
	AS BEGIN
		SELECT TOP 1 SUM(TRIGIA)AS DOANHTHU,COUNT(MAHD)AS TONGHOADON,HoVaTen,SDT,Email,HINH
		FROM NHANVIEN NV INNER JOIN HOADON HD ON NV.MANV = HD.MANV
		GROUP BY HoVaTen,SDT,Email,HINH
		ORDER BY SUM(TRIGIA) DESC
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SPBANCHAYNHAT]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_SPBANCHAYNHAT]
	AS BEGIN 
		SELECT TOP 1 COUNT(HDCT.MASP) AS DABAN ,SUM(THANHTIEN)AS DOANHTHU, LOAISP,TenSanPham,Hinh
		FROM SANPHAM SP INNER JOIN HOADONCHITIET HDCT ON SP.MaSP = HDCT.MaSP INNER JOIN HOADON HD ON HD.MaHD = HDCT.MaHD
		WHERE CONVERT(DATE,NGAYMUA) BETWEEN DATEADD( MONTH ,-1,CONVERT(date,getdate())) AND CONVERT(DATE,GETDATE())
		GROUP BY HDCT.MASP,LOAISP,TenSanPham,Hinh
		ORDER BY COUNT(HDCT.MASP) DESC
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUMDONHANGTRONGNGAY]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_SUMDONHANGTRONGNGAY] 
	AS BEGIN
		SELECT COUNT(MAHD) FROM HOADON 
		WHERE  CONVERT(DATE,NGAYMUA) BETWEEN DATEADD( DAY ,-1,CONVERT(date,getdate())) AND CONVERT(DATE,GETDATE())
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOMAHD]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_TAOMAHD] 
AS BEGIN
	DECLARE @MAHD VARCHAR(6);
	EXEC @MAHD = DBO.AUTO_IDHD
	SELECT MAHD = @MAHD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOMAKH]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_TAOMAKH] 
AS BEGIN
	DECLARE @MAKH VARCHAR(5);
	EXEC @MAKH = DBO.AUTO_IDKH
	SELECT MAHD = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOMANL]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_TAOMANL] 
AS BEGIN
	DECLARE @MANL VARCHAR(5);
	EXEC @MANL = DBO.AUTO_IDNL
	SELECT MANL = @MANL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOSOHDN]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_TAOSOHDN]
AS BEGIN
	DECLARE @SOHDN VARCHAR(5);
	EXEC @SOHDN = DBO.AUTO_IDHDNHAP
	SELECT MASP = @SOHDN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TKCHART]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TKCHART]
	AS BEGIN 
	select DISTINCT 'Tháng '+ CONVERT(VARCHAR,MONTH(NGAYMUA)) THANG,SUM(TONGTIEN) SUMDT,SUM(SOLUONG) SUMSP,COUNT(HD.MAHD) SUMHD
	from hoadonchitiet HDCT INNER JOIN HOADON HD ON HD.MaHD = HDCT.MAHD
	GROUP BY MONTH(NGAYMUA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TKTHEODT]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TKTHEODT]
	AS BEGIN 
	select DISTINCT 'Tháng '+ CONVERT(VARCHAR,MONTH(NGAYMUA)) THANG,SUM(TONGTIEN) SUMDT
	from  HOADON HD 
	GROUP BY MONTH(NGAYMUA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TKTHEOHD]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TKTHEOHD]
	AS BEGIN 
	select DISTINCT 'Tháng '+ CONVERT(VARCHAR,MONTH(NGAYMUA)) THANG ,COUNT(HD.MAHD) SUMHD
	from hoadonchitiet HDCT INNER JOIN HOADON HD ON HD.MaHD = HDCT.MAHD
	GROUP BY MONTH(NGAYMUA) 
	END 
GO
/****** Object:  StoredProcedure [dbo].[SP_TKTHEOSP]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TKTHEOSP]
	AS BEGIN 
	select DISTINCT 'Tháng '+ CONVERT(VARCHAR,MONTH(NGAYMUA)) THANG,SUM(SOLUONG) SUMSP
	from hoadonchitiet HDCT INNER JOIN HOADON HD ON HD.MaHD = HDCT.MAHD
	GROUP BY MONTH(NGAYMUA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOPKHACHHANG]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	-- Thủ tục lấy TOP 15 KHÁCH HÀNG TIỀM NĂNG BẰNG top TRỊ GIÁ --
	CREATE   PROC [dbo].[SP_TOPKHACHHANG] (@TOP INT = 10)
	AS BEGIN
		SELECT TOP (@TOP) KH.MAKH,
			   HOVATEN,
			   COUNT(KH.MaKH) AS 'TONGHD',
			   SUM(TRIGIA) AS 'TONGGIATRI'
		FROM KHACHHANG KH INNER JOIN HOADON HD ON KH.MAKH = HD.MaKH
		WHERE NgayMua BETWEEN dateadd(week,-4,convert(date,getdate())) AND GETDATE()
		GROUP BY KH.MAKH,HOVATEN
		ORDER BY SUM(TRIGIA) DESC
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOPNHANVIEN]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TOPNHANVIEN] @TOP INT = 10
	AS BEGIN
		SELECT TOP (@TOP) NV.MANV,
			   HOVATEN,
			   COUNT(NV.MANV) AS 'TONGHD',
			   SUM(TRIGIA) AS 'TONGGIATRI'
		FROM NhanVien NV INNER JOIN HOADON HD ON NV.MANV = HD.MaNV
		WHERE NgayMua BETWEEN dateadd(week,-4,convert(date,getdate())) AND GETDATE()
		GROUP BY NV.MANV,HOVATEN
		ORDER BY SUM(TRIGIA) DESC
		
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOPSANPHAM]    Script Date: 8/5/2024 4:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROC [dbo].[SP_TOPSANPHAM] @TOP INT = 10
	AS BEGIN 
		SELECT TOP (@TOP)SP.MASP, TENSANPHAM ,SUM(SOLUONG) AS TONGSL, SUM(ThanhTien)doanhthu
		FROM SANPHAM SP INNER JOIN HOADONCHITIET HDCT ON SP.MASP = HDCT.MaSP
		GROUP BY SP.MASP,TENSANPHAM
		ORDER BY SUM(SOLUONG) DESC
	END
GO
USE [master]
GO
